
@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&family=Poppins:wght@700&display=swap');

*{
    margin:0;
    padding:0;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: black;
}
.main{
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    height:70vh;
    position: relative;
}
.main .box{
    height:70vh;
    width:100%;
    opacity:0.69;
    background-color: black;
    position: absolute;
    top:0%;
    background-color: black;
}
nav{
    max-width:60vw;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}
nav img{
    color:red;
    width:130px;
    position:relative;
    z-index:10;
}
nav button{
    position:relative;
    z-index:10;
}
.hero{
    font-family: "Martel Sans", sans-serif;
    height:85%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
    position: relative;
    gap:23px;
    padding:0 30px;
}
.hero>:nth-child(1){
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}
.hero> :nth-child(2){
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}
.hero> :nth-child(3){
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}
.seperation{
    height:6px;
    background-color: rgb(46,44,44);
    position: relative;
    z-index:40;
}
.btn{
    font-family: "Poppins", sans-serif;
    padding:3px 8px;
    font-weight: 400;
    background-color: rgba(248,243,243,0.021);
    color:white;
    border-radius: 4px;
    border:1px solid white;
    cursor:pointer;
    margin-right: 1rem;
}
.btn-red{
    background-color: red;
    color:white;
    padding:3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}
.hero-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:16px
}
.main input{
    color:white;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border:1px solid rgba(238,238,238,0.5);
    padding:7px 101px 8px 14px;
}
.btn-red-sm{
    background-color: red;
    color:white;
}
.first{
    display:flex;
    justify-content: center;
    max-width: 82vw;
    margin:auto;
    color:white;
    align-items: center;
}

@media screen and (max-width:500px)
{
    .first{
        flex-wrap: wrap;
    }
}
.secImg{
    position: relative;
}
.secImg img{
    width:40vw;
    position:relative;
    z-index: 10;
}
.secImg video{
    position: absolute;
    width:35vw;
    top: 51px;
    right:0;
}
section .first > div{
    display: flex;
    flex-direction: column;
    padding:34px 0;
}
.first > div :nth-child(1){
    font-size: 40px;
    font-weight: bolder;
}
.first > div :nth-child(2){
    font-size: 18px;
}
.faq{
    background-color: black;
    color:white;
    padding: 34px;
}
.faqbox{
    color:white;
    transition: all 1s ease-out;
    display: flex;
    justify-content: space-between;
    background-color: #2d2d2d;
    padding: 15px;
    margin: 10px auto;
    max-width: 60vw;
    cursor: pointer;
}
.faqbox:hover{
    background-color:#414141;
    color:white;
}
.faqbox svg{
    filter:invert(1);
}
.faq h2{
    text-align: center;
}
.faq p{
    text-align: center;
    margin:1rem;
}
.faq input{
    color:white;
    font-weight: 900;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.7);
    border:1px solid rgba(238,238,238,0.5);
    padding:7px 101px 8px 14px;
}
footer{
    color:white;
    max-width:60vw;
    margin:2px 15vw;
    padding:34px;
}
.questions{
    padding:34px 0;
}
.footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color:white;
    margin:auto;
}
.footer a{
    color:white;
    font-size: 14px;;
}
.footer-item{
    display:flex;
    flex-direction: column;
    gap:23px;
}
@media screen and (max-width:500px)
{
    .footer{
        display:grid;
        grid-template-columns: 1fr 1fr;
        color: white;
    }
}